:host {
  --drawer-width: 400px;
}
.drawer-container {
  width: var(--drawer-width);
}

.position-left {
  left: calc(-1 * var(--drawer-width));
  &.is-open {
    left: 0;
  }
}

.position-right {
  right: calc(-1 * var(--drawer-width));
  &.is-open {
    right: 0;
  }
}
