/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 10px;
  height: 100%;
  overflow: hidden;
}
.drawer-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  padding: 10px 0px;
  background: #fff;
  box-shadow: -1px 6px 6px 2px #0000002e;
  transition: all 300ms;
  height: 100%;
}
button {
  background: cadetblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
